<div id="container">
  <app-navbar-home></app-navbar-home>
  <main>
    <header>
      <input type="text" placeholder="Search" />
    </header>
    <ul>
      <li>
        <a routerLink="/user1">
          <h5>Aparna</h5>
          <h6>
            <span class="status orange"></span>
            offline
          </h6>
        </a>
      </li>
      <li>
        <a routerLink="/user2">
          <h5>Joe</h5>
          <h6>
            <span class="status green"></span>
            online
          </h6>
        </a>
      </li>
      <li>
        <a routerLink="#">
          <h5>Preethi</h5>
          <h6>
            <span class="status orange"></span>
            offline
          </h6>
        </a>
      </li>
      <li>
        <a routerLink="#">
          <h5>Liya</h5>
          <h6>
            <span class="status green"></span>
            online
          </h6>
        </a>
      </li>
      <li>
        <a routerLink="#">
          <h5>Sam</h5>
          <h6>
            <span class="status green"></span>
            online
          </h6>
        </a>
      </li>
      <li>
        <a routerLink="#">
          <h5>Joe</h5>
          <h6>
            <span class="status orange"></span>
            offline
          </h6>
        </a>
      </li>
    </ul>
  </main>
</div>
