<div id="main">
  <app-navbar-home></app-navbar-home>
  <div class="table-responsive row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8" style="margin-top: 2%; margin-bottom: 2%">
      <a routerLink="#" (click)="reload()">
        <h1 style="text-align: center">
          <i class="fa fa-user fa-5x" aria-hidden="true"> </i>
        </h1>
      </a>
      <h3 style="text-align: center; color: white">
        {{ viewed_user.username }}
      </h3>
      <table class="table">
        <tbody>
          <tr>
            <td><label>Email</label></td>
            <td>
              <label>{{ viewed_user.email }}</label>
            </td>
          </tr>
          <tr>
            <td><label>Status</label></td>
            <td>
              <label>offline</label>
            </td>
          </tr>
          <tr>
            <td><label>Blocked</label></td>
            <td>
              <label *ngIf="isBlocked">Yes</label>
              <label *ngIf="!isBlocked">No</label>
            </td>
          </tr>
          <tr>
            <td><label>Muted</label></td>
            <td>
              <label *ngIf="isMuted">Yes</label>
              <label *ngIf="!isMuted">No</label>
            </td>
          </tr>
        </tbody>
      </table>
      <div>
        <button
          *ngIf="!(viewed_id == current_id)"
          [routerLink]="['/home', viewed_id]"
          class="btn btn-light"
        >
          Message
        </button>
        <button
          *ngIf="!(viewed_id == current_id)"
          (click)="blockUser()"
          class="btn btn-light"
        >
          Block
        </button>
        <button
          (click)="muteUser()"
          *ngIf="!(viewed_id == current_id)"
          class="btn btn-light"
        >
          Mute
        </button>
      </div>
    </div>
    <div class="col-lg-2"></div>
  </div>
</div>
