<div id="container">
  <app-navbar-home></app-navbar-home>
  <main>
    <header>
      <input type="text" placeholder="Search" />
    </header>
    <ul>
      <li>
        <a routerLink="/group1">
          <h5>MBCET CS-2</h5>
          <h6>
            <span class="status orange"></span>
            offline
          </h6>
        </a>
      </li>
      <li>
        <a routerLink="/group2">
          <h5>Bday on 31st</h5>
          <h6>
            <span class="status green"></span>
            online
          </h6>
        </a>
      </li>
      <li>
        <a routerLink="#">
          <h5>Tech Ninjas</h5>
          <h6>
            <span class="status orange"></span>
            offline
          </h6>
        </a>
      </li>
      <li>
        <a routerLink="#">
          <h5>Painting class</h5>
          <h6>
            <span class="status green"></span>
            online
          </h6>
        </a>
      </li>
      <li>
        <a routerLink="#">
          <h5>Neighbours group</h5>
          <h6>
            <span class="status green"></span>
            online
          </h6>
        </a>
      </li>
      <li>
        <a routerLink="#">
          <h5>Besties</h5>
          <h6>
            <span class="status orange"></span>
            offline
          </h6>
        </a>
      </li>
    </ul>
  </main>
</div>
