<div class="main">
  <app-navbar-welcome></app-navbar-welcome>
  <div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
      <div style="font-size: 24px; text-align: center">
        <i class="fas fa-comment-dots fa-10x"></i>
      </div>

      <h5 style="text-align: center">Create a new account!</h5>
      <div id="btn-container">
        <button [routerLink]="'/signup'" class="btn ml-auto mr-1">
          Sign-Up
        </button>
      </div>
    </div>
    <div class="col-lg-4"></div>
  </div>
</div>
