.chat-container {
  background: #fcf8e8;
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.fas {
  margin-right: 10px;
}

.chat-main {
  display: grid;
  grid-template-columns: 1fr 3fr;
}
.btn {
  background-color: #d4e2d4;
  margin-left: 10px;
}

.chat-sidebar {
  background-color: #ecb390;
  color: #fff;
  height: 500px;
  padding: 20px 20px 60px;
  overflow-y: scroll;
}
.chat-sidebar ul {
  list-style-type: none;
}

.chat-sidebar h6 {
  background: rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.chat-sidebar h3,
h4 {
  margin: 15px;
}
.chat-sidebar a {
  padding: 10px 0;
  text-decoration: none;
  color: white;
  display: block;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.chat-sidebar a:hover {
  color: #df7861;
  background: #fcf8e8;
}

.chat-sidebar ul li.active > a,
a[aria-expanded="true"] {
  color: #df7861;
  background: #fcf8e8;
}

.chat-messages {
  padding: 30px;
  max-height: 500px;
  overflow-y: scroll;
}

.chat-messages .message {
  padding: 10px;
  background-color: var(--light-color);
  border-radius: 5px;
}

.chat-messages .message .meta {
  font-size: 15px;
  font-weight: bold;
  color: var(--dark-color-b);
  opacity: 0.7;
  margin-bottom: 7px;
}

.chat-messages .message .meta span {
  margin-left: 10px;
  color: #777;
}

.chat-form-container {
  padding: 20px 30px;
  background-color: #df7861;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.chat-form-container form {
  display: flex;
}

.chat-form-container input[type="text"] {
  font-size: 16px;
  padding: 5px;
  height: 40px;
  flex: 1;
}
